.user-data-section {
    display: flex;
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 15px;
    justify-content: center;
    margin-top: 1em;
}

.data-box {
    display: flex;
    gap: 2em;
    margin: 1em;
    width: 60%;
    justify-content: center;
}

.data-inner-box {
    background-color: #E5E5E5;
    border-radius: 15px;
    width: 100%;
    padding: 0.5em 0;

    .label {
        font-weight: 500;
    }

    p {
        margin: 0.5em;
    }
}

/*PHONE*/
@media (max-width: 768px) {
    .user-data-section {
        width: 90%;
    }

    .data-box {
        flex-direction: column;
        width: 70%;
    }
}