.grid {
    display: grid;
    grid-template-columns: 10fr 1fr;
}

.flex-container{
    display: flex;
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    flex-flow: row wrap;
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    justify-content: space-around;
}