.grid-r {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.flex-result {
    display: flex;
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    flex-flow: row wrap;
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    justify-content: space-around;
}